<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>给微信公众号生成 RSS 订阅源</title>
    <link rel="stylesheet" href="./static/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="isloading">loading...</div>
      <div v-else> 
          <header >
              由: <a href="https://github.com/hellodword/wechat-feeds">hellodword/wechat-feeds</a> 提供支持
          </header>

          <hr>
        <ol class="list">
          <block v-for="(item,i) in list" :key="i">
            <li class="item row">
              <div class="actions row">
                <a href="javascript:;" @click="()=>copy(makeRssUrl(item))"
                  >复制链接</a
                >
              </div>
              <div class="col">
                <div class="title">
                  <span>{{i}}. {{item.name}}</span>
                </div>
                <small class="desc">{{item.description}}</small>
              </div>
            </li>
            <div class="partation"></div>
          </block>
        </ol>
      </div>
    </div>
    <script>
      // 请求数据
      function getData() {
        return fetch(
          "https://raw.githubusercontent.com/Treblex/wechat-feeds-page/master/cli/static/temp.json",
          { method: "GET" }
        )
          .then((res) => res.json())
          .then((res) => {
            return res;
          });
      }

      let clipboard_;

      const vm = new Vue({
        el: "#app",
        data() {
          return {
            isloading: true,
            list: [{}, {}, {}],
          };
        },
        created() {
          console.log("created");

          clipboard_ = new ClipboardJS(".copy");
          clipboard_.on("success", function () {
            alert("复制成功");
          });
          clipboard_.on("error", function (err) {
            throw err;
          });

          setTimeout(() => {
            getData().then((res) => {
              this.isloading = false;
              this.list = res;
            });
          });
        },
        methods: {
          makeRssUrl({ bizid = "" }) {
            return `https://github.com/hellodword/wechat-feeds/raw/feeds/${bizid}.xml`;
          },
          copy(text) {
            let button = document.createElement("button");
            button.className = "copy";
            button.setAttribute("data-clipboard-text", text);
            document.body.appendChild(button);
            button.click();
            button.remove();
          },
        },
      });
    </script>
  </body>
</html>
