<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>给微信公众号生成 RSS 订阅源</title>
    <link rel="stylesheet" href="./static/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <!-- MDUI CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"
      integrity="sha384-2PJ2u4NYg6jCNNpv3i1hK9AoAqODy6CdiC+gYiL2DVx+ku5wzJMFNdE3RoWfBIRP"
      crossorigin="anonymous"
    />


  </head>
  <body class="">
    <div
      id="app"
      class="mdui-container-fluid mdui-typo mdui-appbar-with-toolbar mdui-drawer-body-left"
    >
      <header class="">
        <div class="mdui-appbar mdui-appbar-fixed">
          <div class="mdui-toolbar mdui-color-indigo">
            <a
              @click="drawerToggle"
              href="javascript:;"
              class="mdui-btn mdui-btn-icon"
              ><i class="mdui-icon material-icons">menu</i></a
            >
            <a href="javascript:;" class="mdui-typo-headline">微信公众号RSS</a>
            <div class="mdui-toolbar-spacer"></div>
            <!-- <a href="javascript:;" class="mdui-btn mdui-btn-icon"
              ><i class="mdui-icon material-icons">search</i></a
            > -->
            <a
              href="javascript:;"
              class="mdui-btn mdui-btn-icon"
              @click="refresh"
              ><i class="mdui-icon material-icons">refresh</i></a
            >
            <!-- <a href="javascript:;" class="mdui-btn mdui-btn-icon"
              ><i class="mdui-icon material-icons">more_vert</i></a
            > -->
          </div>
        </div>
      </header>
      <!-- 默认抽屉栏在左侧 -->
      <div class="mdui-drawer mdui-drawer-open" id="drawer">
        <div style="padding: 10px">
          由:
          <div>
            <a href="https://github.com/hellodword/wechat-feeds"
              >hellodword/wechat-feeds</a
            >
          </div>
          提供支持
        </div>
      </div>

      <div v-if="isloading">
        <div class="mdui-progress">
          <div class="mdui-progress-indeterminate"></div>
        </div>
        loading...
      </div>
      <div v-else class="">
        <div class="mdui-divider"></div>

        <div class="list mdui-list">
          <block v-for="(item,i) in list" :key="i">
            <div class="item row mdui-list-item mdui-ripple">
              <div class="actions row">
                <button
                  href="javascript:;"
                  class="mdui-btn mdui-color-blue-700 small"
                  @click="()=>copy(makeRssUrl(item))"
                >
                  <i class="mdui-icon material-icons">&#xe14d;</i>
                  <span style="display: inline-block">复制链接</span>
                </button>
              </div>
              <div class="col mdui-col">
                <div class="title">
                  <h3>{{i}}. {{item.name}}</h3>
                </div>
                <small class="desc mdui-list-item-two-line"
                  >{{item.description}}</small
                >
              </div>
            </div>
            <div class="mdui-divider"></div>
          </block>
        </div>
      </div>
    </div>
        <!-- MDUI JavaScript -->
        <script
        src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
        integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+"
        crossorigin="anonymous"
      ></script>
    <script>
      function getData() {
        return fetch(
          "https://raw.githubusercontent.com/Treblex/wechat-feeds-page/master/cli/static/temp.json",
          { method: "GET" }
        )
          .then((res) => res.json())
          .then((res) => {
            return res;
          });
      }

      let clipboard_;
      var inst = new mdui.Drawer("#drawer");
      const vm = new Vue({
        el: "#app",
        data() {
          return {
            isloading: true,
            list: [{}, {}, {}],
          };
        },
        created() {
          console.log("created");

          clipboard_ = new ClipboardJS(".copy");
          clipboard_.on("success", function () {
            alert("复制成功");
          });
          clipboard_.on("error", function (err) {
            throw err;
          });

          setTimeout(() => {
            getData().then((res) => {
              this.isloading = false;
              this.list = res;
            });
          });
        },
        methods: {
          drawerToggle() {
            inst.toggle();
          },
          makeRssUrl({ bizid = "" }) {
            return `https://github.com/hellodword/wechat-feeds/raw/feeds/${bizid}.xml`;
          },
          refresh() {
            location.reload();
          },
          copy(text) {
            let button = document.createElement("button");
            button.className = "copy";
            button.setAttribute("data-clipboard-text", text);
            document.body.appendChild(button);
            button.click();
            button.remove();
          },
        },
      });
    </script>
  </body>
</html>
